html,
body {
  height: 100%;
  width: 100%;
  animation: newsletterAnimation 5s infinite;
  background: linear-gradient(#a6d8ff, #fff, #fff);
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sun{
  position: absolute;
  top: 100px;
  left: 55%;
  transform: translateX(300%) translateY(-60%);
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #fff;
  cursor: pointer;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}
.form-signin .checkbox{
  font-weight: 400;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
  border-radius: 0;
  margin-bottom: -1px;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
